#historytop{
	
	background-color: #037ef3;
	
	height: 50px;
	width: 84.8%;
	left: 15.2%;
	top: 1.3%;
	color: white;
	font-family: "open sans", sans-serif;
	
}
	
img.Logo{
	height: 50px;
	width: 200px;
}
img.India{
	height:200px;
	width:800px;
}

img.China{
	height:200px;
	width :800px;
}

img.Bangladesh{
	height :200px;
	width:800px;
}
