body {
	 /*add new background image*/
    background-color: powderblue;
}

form{
	position: relative;
    left: 100px;
    top: 0px;
	font-size: 18px;
	font-family: verdana;
}

h2{
	position: relative;
    left: 275px;
    top: 0px;
	font-size: 45px;
	font-family: verdana;
}

#fname{

	width: 20%; /* full width */
	padding: 12px;
	border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    font-family: verdana;
    font-size: 14px;
}

#lname{

	width: 20%; /* full width */
	padding: 12px;
	border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    font-family: verdana;
    font-size: 14px;
}

#ccnumber{
	width: 20%; /* full width */
	padding: 12px;
	border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    font-family: verdana;
    font-size: 14px;
}

#code{
	width: 20%; /* full width */
	padding: 12px;
	border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    font-family: verdana;
    font-size: 14px;
}
input[type=button] {
	background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
    font-size: 18px;
	font-family: verdana;
}


}