body {
	 /*add new background image*/
    background-color: powderblue;
}

form{
	position: relative;
    left: 100px;
    top: 0px;
	font-size: 18px;
	font-family: verdana;
}

h2{
	position: relative;
    left: 275px;
    top: 0px;
	font-size: 45px;
	font-family: verdana;
}